<div class="container">
  <div>
    <h1>
      Business directory
    </h1>
  </div>
</div>

<hr>

<div class="container">
  <div>
    <h2>
      Add a new business
    </h2>

    <form action="/insert_business" method="post">
      <div>
        <label for="business_name_box">
          Business name
        </label>

        <input class="form-control" type="text" id="business_name_box" name="query_business_name">
      </div>

      <div class="form-group">
          <label for="business_description_box">Business description</label>
          <textarea class="form-control" id="business_description_box" rows="3" name="query_business_description"></textarea>
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input class="form-control" type="text" id="address_box" name="query_address">
      </div>

      <button class="btn btn-primary" type="submit">
        Create business
      </button>
    </form>
  </div>
</div>

<hr>

<div class="container">
  <h2>
      List of businesses
  </h2>
  
  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th scope="col">
          </th>

          <th scope="col">
            Business name
          </th>

          <th scope="col">
            Business description
          </th>

          <th scope="col">
            Address
          </th>

          <th scope="col">
            Created at
          </th>

          <th scope="col">
            Updated at
          </th>

          <th scope="col">
          </th>
        </tr>
      </thead>

      <tbody>
        <% @list_of_businesses.each do |a_business| %>
        <tr>
          <td>
            <a class="btn btn-secondary" role="button" href="/tips">
              Add a tip
            </a>
          </td>

          <td>
            <%= a_business.business_name %>
          </td>

          <td>
            <%= a_business.business_description %>
          </td>

          <td>
            <%= a_business.address %>
          </td>

          <td>
            <%= time_ago_in_words(a_business.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_business.updated_at) %> ago
          </td>

          <td>
            <a href="/businesses/<%= a_business.id %>">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
