<div>
  <div>
    <h1>
      Business #<%= @the_business.id %> details
    </h1>

    <div>
      <div>
        <a href="/businesses">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_business/<%= @the_business.id %>">
          Delete business
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Business name
      </dt>
      <dd>
        <%= @the_business.business_name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_business.address %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_business.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_business.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit business
    </h2>

    <form action="/modify_business/<%= @the_business.id %>"  method="post" >
      <div>
        <label for="business_name_box">
          Business name
        </label>

        <input type="text" id="business_name_box" name="query_business_name" value="<%= @the_business.business_name %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_business.address %>">
      </div>

      <button>
        Update business
      </button>
    </form>
  </div>
</div>

<hr>
