<div class="container">
  <div>
    <h1>
      <%= @the_business.business_name %> details
    </h1>

    <div>
      <div>
        <a href="/businesses">
          Go back to business directory
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Business name
      </dt>
      <dd>
        <%= @the_business.business_name %>
      </dd>

      <dt>
        Business description
      </dt>
      <dd>
        <%= @the_business.business_description %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_business.address %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_business.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_business.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="container">
  <div>
    <h2>
      Edit <%= @the_business.business_name %> details
    </h2>

    <form action="/modify_business/<%= @the_business.id %>" method="post">
      <div>
        <label for="business_name_box">
          Business name
        </label>

        <input class="form-control" type="text" id="business_name_box" name="query_business_name" value="<%= @the_business.business_name %>">
      </div>

      <div class="form-group">
          <label for="business_description_box">Business description</label>
          <input class="form-control" id="business_description_box" rows="3" name="query_business_description" value="<%= @the_business.business_description %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input class="form-control" type="text" id="address_box" name="query_address" value="<%= @the_business.address %>">
      </div>

      <button class="btn btn-primary" type="submit">
        Update business
      </button>
    </form>
  </div>

  <div>
    <a class="btn btn-danger" role="button" href="/delete_business/<%= @the_business.id %>">
      Delete business
    </a>
  </div>

</div>

<hr>

<div class="container">
  <h2>
    <%= @the_business.business_name %> tips
  </h2>
  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>

          <th scope="col">
            Business name
          </th>
          
          <th scope="col">
            Category
          </th>

          <th scope="col">
            Tip Title
          </th>

          <th scope="col">
            Tip
          </th>

          <%# REMOVING PICTURE FIELD
          <th scope="col">
            Picture
          </th>
          %>

          <th scope="col">
            Posted by
          </th>


          <th scope="col">
            Upvote count
          </th>

          <th scope="col">
            Downvote count
          </th>

          <th scope="col">
            Created at
          </th>

          <th scope="col">
          </th>

          <th scope="col">
            Upvote
          </th>

          <th scope="col">
            Downvote
          </th>
        </tr>
      </thead>

      <tbody>

        <% @tips_for_business.each do |a_tip| %>
        <tr>
          <td>
            <%= a_tip.business.business_name %>
          </td>

          <td>
            <%= a_tip.tip_type %>
          </td>

          <td>
            <%= a_tip.title %>
          </td>

          <td>
            <%= a_tip.tip_text %>
          </td>

          <%# REMOVING PICTURE FIELD
          <td>
            <img src="<%= a_tip.tip_pic %><%#">
          </td>
          %>

          <td>
            <%= a_tip.user.name %>
          </td>

          <td>
            <%= a_tip.upvote_count %>
          </td>

          <td>
            <%= a_tip.downvote_count %>
          </td>

          <td>
            <%= time_ago_in_words(a_tip.created_at) %> ago
          </td>

          <td>
            <a href="/tips/<%= a_tip.id %>">
              Show details
            </a>
          </td>
          
          <td>
            <form action="/insert_upvote" method="post">
                
              <input type="hidden" id="vote_type" name="query_vote_type" value=<%= true %>>
              
              <input type="hidden" id="tip_id" name="query_tip_id" value="<%= a_tip.id %>">
              
              <button class="btn btn-primary" type="submit">
                Upvote
              </button>
              
            </form>
          </td>

          <td>
            <form action="/insert_downvote" method="post">

              <input type="hidden" id="vote_type" name="query_vote_type" value=<%= false %>>
              
              <input type="hidden" id="tip_id" name="query_tip_id" value="<%= a_tip.id %>">
              
              <button class="btn btn-primary" type="submit">
                Downvote
              </button>
              
            </form>
          </td>

        </tr>
        <% end %>
      
      <tbody>

    </table>
  </div>
</div>
