<h1 style="text-align:center">My Activity</h1>

<hr>

<div class="container">

      <h2>My Tips</h2>

      <div>
        <div class="table-responsive">
          <table class="table table-striped align-middle">
            <thead>
              <tr>

                <th scope="col">
                  Business name
                </th>
                
                <th scope="col">
                  Category
                </th>

                <th scope="col">
                  Tip Title
                </th>

                <th scope="col">
                  Tip
                </th>

                <%# REMOVING PICTURE FIELD
                <th scope="col">
                  Picture
                </th>
                %>

                <th scope="col">
                  Posted by
                </th>


                <th scope="col">
                  Upvote count
                </th>

                <th scope="col">
                  Downvote count
                </th>

                <th scope="col">
                  Created at
                </th>

                <th scope="col">
                </th>

              </tr>
            </thead>

            <tbody>

              <% @tips_for_user.each do |a_tip| %>
              <tr>
                <td>
                  <%= a_tip.business.business_name %>
                </td>

                <td>
                  <%= a_tip.tip_type %>
                </td>

                <td>
                  <%= a_tip.title %>
                </td>

                <td>
                  <%= a_tip.tip_text %>
                </td>

                <%# REMOVING PICTURE FIELD
                <td>
                  <img src="<%= a_tip.tip_pic %><%#">
                </td>
                %>

                <td>
                  <%= a_tip.user.name %>
                </td>

                <td>
                  <%= a_tip.upvote_count %>
                </td>

                <td>
                  <%= a_tip.downvote_count %>
                </td>

                <td>
                  <%= time_ago_in_words(a_tip.created_at) %> ago
                </td>

                <td>
                  <a href="/tips/<%= a_tip.id %>">
                    Show details
                  </a>
                </td>

              </tr>
              <% end %>
            
            <tbody>

          </table>
        </div>
      </div>
      

  <h2>Recent Upvotes</h2>

  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th scope="col">
            Vote type
          </th>

          <th scope="col">
            Business name
          </th>

          <th scope="col">
            Tip title
          </th>

          <th scope="col">
            Created at
          </th>

        </tr>
      </thead>
      <tbody>

        <% @votes_for_user.each do |a_vote| %>
          <tr>
            <td>
              <% if a_vote.vote_type == true %>
                upvote
              <% else %>
                downvote
              <% end %>
            </td>

            <td>
              <%= a_vote.tip.business.business_name %>
            </td>

            <td>
              <a href="/tips/<%= a_vote.tip.id %>">
                <%= a_vote.tip.title %>
              </a>
            </td>

            <td>
              <%= time_ago_in_words(a_vote.created_at) %> ago
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>