<div class="container">
  <div>
    <div>
      <h2>
        Create a new tip
      </h2>

      <form action="/insert_tip" method="post">
        <div class="form-group">
          <div>
            <label for="business_id_box">
              Business
            </label>

            <select class="form-control" id="business_id_box" name="query_business_id">
              <% @list_of_businesses.each do |a_business| %>
                <option value="<%= a_business.id %>">
                  <%= a_business.business_name %>
                </option>
              <% end %>
            </select>
          
            <a class="btn btn-secondary" role="button" href="/businesses">
              Add a new business
            </a>
          </div>

          <div>
            <label for="tip_type_box">
              Category
            </label>

            <select class="form-control" id="tip_type_box" name="query_tip_type">
              <% @list_of_categories.each do |category| %>
                <option>
                  <%= category %>
                </option>
              <% end %>
            </select>
          </div>

          <div>
            <label for="tip_title_box">
              Tip title
            </label>

            <input class="form-control" type="text" id="tip_title_box" name="query_title">
          </div>

          <div class="form-group">
            <label for="tip_text_box">Tip text</label>
            <textarea class="form-control" id="tip_text_box" rows="3" name="query_tip_text"></textarea>
          </div>

          <div>
            <label for="tip_pic_box">
              Tip pic
            </label>

            <input class="form-control" type="text" id="tip_pic_box" name="query_tip_pic">
          </div>

          <button class="btn btn-primary" type="submit">
            Create tip
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div>
    <h1>
      Tip Jar
    </h1>
  </div>


<hr>


  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>

          <th scope="col">
            Business name
          </th>
          
          <th scope="col">
            Category
          </th>

          <th scope="col">
            Tip Title
          </th>

          <th scope="col">
            Tip
          </th>

          <th scope="col">
            Picture
          </th>

          <th scope="col">
            Posted by
          </th>


          <th scope="col">
            Upvote count
          </th>

          <th scope="col">
            Downvote count
          </th>

          <th scope="col">
            Created at
          </th>

          <th scope="col">
          </th>

          <th scope="col">
            Upvote
          </th>

          <th scope="col">
            Downvote
          </th>
        </tr>
      </thead>

      <tbody>

        <% @list_of_tips.each do |a_tip| %>
        <tr>
          <td>
            <%= a_tip.business.business_name %>
          </td>

          <td>
            <%= a_tip.tip_type %>
          </td>

          <td>
            <%= a_tip.title %>
          </td>

          <td>
            <%= a_tip.tip_text %>
          </td>

          <td>
            <img src="<%= a_tip.tip_pic %>">
          </td>

          <td>
            <%= a_tip.user.name %>
          </td>

          <td>
            <%= a_tip.upvote_count %>
          </td>

          <td>
            <%= a_tip.downvote_count %>
          </td>

          <td>
            <%= time_ago_in_words(a_tip.created_at) %> ago
          </td>

          <td>
            <a href="/tips/<%= a_tip.id %>">
              Show details
            </a>
          </td>
          
          <td>
            <form action="/insert_upvote" method="post">
                
              <input type="hidden" id="vote_type" name="query_vote_type" value=<%= true %>>
              
              <input type="hidden" id="tip_id" name="query_tip_id" value="<%= a_tip.id %>">
              
              <button class="btn btn-primary" type="submit">
                Upvote
              </button>
              
            </form>
          </td>

          <td>
            <form action="/insert_downvote" method="post">

              <input type="hidden" id="vote_type" name="query_vote_type" value=<%= false %>>
              
              <input type="hidden" id="tip_id" name="query_tip_id" value="<%= a_tip.id %>">
              
              <button class="btn btn-primary" type="submit">
                Downvote
              </button>
              
            </form>
          </td>

        </tr>
        <% end %>
      
      <tbody>

    </table>
  </div>
</div>

<hr>
