<div>
  <div>
    <h1>
      List of all tips
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new tip
    </h2>

    <form action="/insert_tip" method="post">
      <div>
        <label for="tip_text_box">
          Tip text
        </label>

        <input type="text" id="tip_text_box" name="query_tip_text">
      </div>

      <div>
        <label for="tip_pic_box">
          Tip pic
        </label>

        <input type="text" id="tip_pic_box" name="query_tip_pic">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="business_id_box">
          Business
        </label>

        <input type="text" id="business_id_box" name="query_business_id">
      </div>

      <div>
        <label for="tip_type_box">
          Tip type
        </label>

        <input type="text" id="tip_type_box" name="query_tip_type">
      </div>

      <div>
        <label for="upvote_count_box">
          Upvote count
        </label>

        <input type="text" id="upvote_count_box" name="query_upvote_count">
      </div>

      <div>
        <label for="downvote_count_box">
          Downvote count
        </label>

        <input type="text" id="downvote_count_box" name="query_downvote_count">
      </div>

      <button>
        Create tip
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Tip text
        </th>

        <th>
          Tip pic
        </th>

        <th>
          User
        </th>

        <th>
          Business
        </th>

        <th>
          Tip type
        </th>

        <th>
          Upvote count
        </th>

        <th>
          Downvote count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_tips.each do |a_tip| %>
      <tr>
        <td>
          <%= a_tip.id %>
        </td>

        <td>
          <%= a_tip.tip_text %>
        </td>

        <td>
          <%= a_tip.tip_pic %>
        </td>

        <td>
          <%= a_tip.user_id %>
        </td>

        <td>
          <%= a_tip.business_id %>
        </td>

        <td>
          <%= a_tip.tip_type %>
        </td>

        <td>
          <%= a_tip.upvote_count %>
        </td>

        <td>
          <%= a_tip.downvote_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_tip.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_tip.updated_at) %> ago
        </td>

        <td>
          <a href="/tips/<%= a_tip.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
