<div>
  <div>
    <h1>
      Tip details
    </h1>

    <div>
      <div>
        <a href="/tips">
          Go back to Tip Jar
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Tip title
      </dt>
      <dd>
        <%= @the_tip.title %>
      </dd>

      <dt>
        Tip text
      </dt>
      <dd>
        <%= @the_tip.tip_text %>
      </dd>

      <dt>
        Tip pic
      </dt>
      <dd>
        <img src="<%= @the_tip.tip_pic %>">
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_tip.user_id %>
      </dd>

      <dt>
        Business
      </dt>
      <dd>
        <%= @the_tip.business_id %>
      </dd>

      <dt>
        Tip type
      </dt>
      <dd>
        <%= @the_tip.tip_type %>
      </dd>

      <dt>
        Upvote count
      </dt>
      <dd>
        <%= @the_tip.upvote_count %>
      </dd>

      <dt>
        Downvote count
      </dt>
      <dd>
        <%= @the_tip.downvote_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_tip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_tip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @current_user.id == @the_tip.user_id %>
  <div>
    <div>
      <h2>
        Edit tip
      </h2>

      <form action="/modify_tip/<%= @the_tip.id %>"  method="post" >
        <div>
          <label for="title_box">
            Tip title
          </label>

          <input type="text" id="title_box" name="query_title" value="<%= @the_tip.title %>">
        </div>
        
        <div>
          <label for="tip_text_box">
            Tip text
          </label>

          <input type="text" id="tip_text_box" name="query_tip_text" value="<%= @the_tip.tip_text %>">
        </div>

        <div>
          <label for="tip_pic_box">
            Tip pic
          </label>

          <input type="text" id="tip_pic_box" name="query_tip_pic" value="<%= @the_tip.tip_pic %>">
        </div>

        <div>
          <label for="business_id_box">
            Business
          </label>

          <select id="business_id_box" name="query_business_id">
            <% @list_of_businesses.each do |a_business| %>
              <option value="<%= a_business.id %>">
                <%= a_business.business_name %>
              </option>
            <% end %>
          </select>
        </div>

        <div>
          <label for="tip_type_box">
            Category
          </label>

          <select id="tip_type_box" name="query_tip_type">
            <% @list_of_categories.each do |category| %>
              <option>
                <%= category %>
              </option>
            <% end %>
          </select>
        </div>

        <button class="btn btn-primary" type="submit">
          Update tip
        </button>
      </form>

      <div>
        <a class="btn btn-danger" role="button" href="/delete_tip/<%= @the_tip.id %>">
          Delete tip
        </a>
      </div>

    </div>
  </div>

<% end %>

<hr>